<br />
<form action="/productos" method="POST">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombreProduct" name="nombre" /><br /><br />
  <label for="price">Precio:</label>
  <input type="number" id="priceProduct" name="price" /><br /><br />
  <label for="thumbnail">Foto:</label>
  <input type="text" id="thumbnailProduct" name="thumbnail" /><br /><br />
  <label for="stock">Stock:</label>
  <input type="number" id="stockProduct" name="stock" /><br /><br />
  <label for="code">Codigo:</label>
  <input type="text" id="codeProduct" name="code" /><br /><br />
  <label for="description">Descripcion:</label>
  <input type="text" id="descriptionProduct" name="description" /><br /><br />
  <input type="submit" id="submitProduct" value="Submit" />
</form>
<h1>CODER CHAT</h1>
<span>Email</span>
<input id="emailInput" type="email" required />
<input id="chatInput" placeholder="Escribe un mensaje..." required />
<button id="submitMessage" type="submit">Enviar</button>
<br /><br />
<div>
  {{! PARA TEXTAREA
  <textarea id="history" disabled="true" rows="10" cols="75" style="overflow:auto;resize:none" >
  </textarea> }}
  <span id="history">
  </span>
  <h2>Lista de productos</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>
</div>